@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans:wght@100&family=Ubuntu+Mono:ital,wght@1,400;1,700&display=swap");

body {
  font-family: inter;
}
/* slider-button-color */
.swiper-pagination-bullet-active {
  --swiper-theme-color: #ff6647;
}

.swiper-button-prev, .swiper-button-next {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid gainsboro;
    font-weight: 700;
}
.swiper-button-prev, .swiper-button-next ::after{
    --swiper-theme-color: #134563;
    font-size: 200px;
}
.swiper-button-next, .swiper-button-prev ::after{
    --swiper-theme-color: #134563;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 30px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  font-size: 30px;
}